package templates

templ Index() {
	<!DOCTYPE html>
	<html>
		<head>
			<title>Marat Bakasov</title>
			<link rel="stylesheet" href="/static/tailwind.css"/>
		</head>
		<body>
			<h1 class="text-xl">
				Hey there!
			</h1>
		</body>
	</html>
}
